html{
  padding: 0;
  margin:0;
  background-color:black;
  width: 100vw;
  height: 100vh;
}

body{
  background-image: url("bulb.jpg");
  margin:0;
}

.landing-page{
  margin:0 auto;
  width:1080px;
}

.logo{
  background-image: url("logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  margin: 20vh auto 0;
}

h1{

}
